/* Add here all your css styles (customizations) */
.no-padding-left{padding-left: 0;}
.top_sp{margin-top: 20px;margin-bottom: 20px;}
.top_sp_right{margin-top: 28px;}
.search_now li{list-style: none;}
.search_now .input-group .form-control {
    border-radius: 3px 0 0px 3px !important;
    min-width: 207px;
}
 .header-v4 .mega-menu .equal-height-list h3 {
    font-size: 12px;
    font-weight: 400; margin-bottom: -1px;
    padding: 0 10px 0 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
}
 .header-v4 .navbar-default .navbar-nav > li > a{
    color: #fff;
 }
 .header-v4 .navbar-default .navbar-nav > li:hover > a {
    border-top: 1px solid #999;
    color: #fff;
}
.header-v4 .navbar-collapse {
   box-shadow: 0px 0px 3px #1f62af;
    background: #1f62af;
}
.header-v4 .navbar-default .navbar-nav > li {
    border-left: none;
    border-right: none;
    margin-left: -1px;

}.navbar {
   
    min-height: 0;
    
}
 .dropdown-menu{margin-top: 14px;}
.dropdown-menu:before {
  border-bottom: 12px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: "";
    display: inline-block;
    left: 7%;
    position: absolute;
    top: -9px;
}
.header-v4 .navbar-default .navbar-nav > li > a {
    font-size: 13px;
    padding: 8px 30px 8px 20px;
}.header-v4 .navbar-default .navbar-nav > li > a {
     font-family: arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 13px;
    text-transform: none;
}
.header-v4 .mega-menu.navbar .nav > li > .dropdown-menu::after, .header-v4 .mega-menu.navbar .nav > li > .dropdown-menu::before {
    display:  block !important;
}
.divider{ font-family: arial;
    
    color: #fff;
    padding: 8px 0px 0px 0px;
   }
.btn-u {
    background: #1f62af none repeat scroll 0 0;
   
}
.search_now .input-group .btn-u{
    border-radius: 0 3px 3px 0 !important;
}
.btn-u:hover, .btn-u:focus, .btn-u:active, .btn-u.active, .open .dropdown-toggle.btn-u {
    background: #1a65ba none repeat scroll 0 0;
}
.btn-u-split.dropdown-toggle {
    border-left: 1px solid #1f62af;
}
.btn-u.btn-u-blue {
    background: #1f62af none repeat scroll 0 0;
}
.btn-u.btn-u-blue:hover, .btn-u.btn-u-blue:focus, .btn-u.btn-u-blue:active, .btn-u.btn-u-blue.active, .open .dropdown-toggle.btn-u.btn-u-blue {
    background: #1f62af none repeat scroll 0 0;
}
.btn-u.btn-u-split-blue.dropdown-toggle {
    border-left: 1px solid #1f62af;
}
.navbar-toggle span{color: #333;}
.header-v4 .navbar-toggle {
     border: 1px solid #1f62af;
     padding: 7px 9px 4px;
     border-radius: 3px;
   
}
.header-v4 .navbar-toggle i{font-size: 23px;color: #1f62af;}


.footer-v1 .footer {
    background: #1f62af !important;
    padding: 40px 0;
}
.services .hero{background: #fff ;border: 1px solid #f1f1f1;}
.news{background: #fafafa ;
border-left: 2px solid #1a65ba;
}
.news h2 {
    font-size: 17px;
    font-weight: 400;
    margin: 3px 0;
}
.service-lists {margin-left: -20px; border-right: 1px solid #eee;}
.service-lists  li{font-size: 13px;}
.btn-all{list-style: none;}
.service-lists .btn{
    background: #1a65ba;
     border-color: #1464c0;
    border-radius: 2px !important;
    padding: 5px 8px;
    margin-top: 4px;
    
}
.service-lists .btn:hover{
       background: #0c65ca;
}
.tag-box-v1{border-top-color:#1a65ba;}
.headline h2, .headline h3, .headline h4{border-bottom: 2px solid #1a65ba;
 font-size: 17px;
    font-weight: 400;
}
.service-lists li a:hover{
    color: #1a65ba;
    
}
.blog-trending li a:hover{
    color: #1a65ba;    
}

.headline {
    border-bottom: 1px dotted #e4e9f0;
    display: block;
    margin: -10px 0 25px;
}
.blog-trending li {
    margin-bottom: 14px;
}
.footer-v1 .link-list li {
    border-top: 1px dashed #aaaaaa;
}
.tag-box-v2{border-left-color:#1a65ba;background: #fff none repeat scroll 0 0;
    }
.rights{border-right:2px solid #1a65ba;border-left-color:#eee;}
.des_dev a { color: #1a65ba;}
.desc_sec p{font-size: 14px;}

.list-unstyled{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif ;
}

.blog-trending li {
    margin-bottom: 9px;
}
.blog-trending li:last-child{margin-bottom: 0!important;}
.links_form li i{color: #1a65ba;}

.panel{
     border-radius: 0px !important;
}
.panel_services > .panel-heading{
    background: #f1f1f1 none repeat scroll 0 0;
    border-radius: 0px !important;
    color: #000;
}

.tp-caption .btn-u-light {
    background: #1a65ba none repeat scroll 0 0;
    border-color: #1464c0;
    border-radius: 2px !important;
    margin-top: 4px;
    padding: 5px 8px;
}

.revolution-ch2::after{background: none;}
.revolution-mch-1::after{background: none !important;}
.margin-top-30{margin-top: 30px;}
.margin-top-10{margin-top: 10px;}
.breadcum  small a{color: #1a65ba;}
.ss_link li{ overflow: hidden;}
.contacts_branch i{color: #1a65ba !important;}
.contacts_branch .shadow-wrapper .tag-box {
    min-height: 262px;
}
.downloads .each-download-option  {
     
    margin-bottom: 15px !important;
    overflow: hidden !important;
    padding: 6px !important;
}

.downloads .btn-u.btn-u-sea {
    background: #1a65ba !important;
}


.user_profile .tag-box-v2{
     background: #fafafa none repeat scroll 0 0 !important;
    border-color: #eee #eee #eee #eee !important;
}

.directorss .shadow-effect-1{
    min-height: 287px !important;
}
#visited a{cursor: none;   pointer-events: none;}

.contacts_branch .tag-box h2 {
    color: #1a65ba !important;
    
}
.header-v4 .navbar-default .navbar-nav > .open > a, .header-v4 .navbar-default .navbar-nav > .open > a:hover, .header-v4 .navbar-default .navbar-nav > .open > a:focus{
    color: #000;
}
.boxed-layout  .shadow-wrapper {
      position: unset !important;
    z-index:  0!important;
}
 .container{width: 1000px !important;}
 .top_lists{margin-top: 10px;margin-bottom: 42px;}
 .top_lists li{
     display: inline;
    list-style: outside none none;
    float: right;
    margin-left: 14px;
 }
 .header-v4 .top_lists li a{
      font-family: arial !important;
 
  }
 .search-open .input-group {
    border-collapse: separate;
    display: table;
    position: relative;
    width: 274px;
    float: right;
}
.top_lists li a:hover{
    color: #1a65ba ;
}

.col-md-6 .panel-blue {
    border-color: #eee !important;
}

















